.campo {
    width: 35em;
    margin: auto;
    padding-bottom: 5px;
}

input, textarea, select {
    border: solid 1px blue;
}

input:focus, textarea:focus, select:focus {
    outline: solid 1px red;
}

input[type=text], input[type=password], input[type=date], textarea, select {
    width: 20em;
}

input[type=button],input[type=submit],input[type=reset] {
    width: 10em;
}

textarea {
    height: 7em;
    resize: none;
}

@media (orientation: portrait) {
    .campo {
        width: 100%;
        text-align: center;
    }
    
    .campo label:nth-child(1) {
        width: 100%;
        display: block;
        text-align: center;
    }
}

table.tabella {
    border-collapse: collapse;
    /*font-family: "Arial";*/
    border: 1px solid gray;
}

table.tabella tr:nth-child(even) {
    background-color: lightblue;
}

table.tabella th {
    font-size: 20px;
    border: 1px solid gray;
    background-color: blue;
    color: white;
}

table.tabella td {
    font-size: 18px;
    border: 1px solid gray;
    border-bottom: none;
    border-top: none;
}

span.inserisciDB {
    background-image: url(../ico/New-record-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: center;*/
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
}

span.modificaDB {
    background-image: url(../ico/edit-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: center;*/
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
}

span.eliminaDB {
    background-image: url(../ico/Trash-can-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: center;*/
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
}

span.navigator {
    border: 1px solid blue;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
